<<<<<<< HEAD
h1 {color: black!important;}
=======
h1 {color: white!important;}
>>>>>>> cabecera
body {color: blue;
	background-color: blue;
border: 2px;}


	.text-center{color: gray!important;}
	p{font-style: italic;
		font-weight: 40;
		font-family: cursive;}